*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    font-family: acumin-pro, system-ui, sans-serif;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-size: 14px;
    background-color: #f2f2f2;
    align-items: start;
    min-height: 100vh;
}

.header-wrap header {
    padding-bottom: 45px;
    display: flex;
    flex-wrap: nowrap;
}

.header-wrap header .logo {
    display: inline-block;
    height: 92px;
}
img {
    height: auto;
    max-width: 100%;
}
.top-nav {
    background-color: #f2f2f2;
    overflow: hidden;}

.header-container {
    margin: 20px;
    width: auto;
}

.top-nav a {
    float: left;
    color: #2f2f2f;
    text-align: right;
    padding: 30px 18px;
    text-decoration: none;
    font-size: 20px;
    font-family: Georgia, serif;
}

.top-nav a:hover {
    color: cornflowerblue;
}

.body-clip-art {
    display: inline-block;
    height: 92px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #ffffff;
    background-color: #2f2f2f;
    border-top: 1px solid #e5e5e5;
}

.footer > * {
    flex:  1 100%;
}

.title-wrapper h1 {
    padding: 60px;
    text-align: center;
    background: #f2f2f2;
    color: #2f2f2f;
    font-size: 40px;
    font-family: Georgia, serif;
    font-weight: bold;
}
.title-wrapper h2 {
    padding: 60px;
    text-align: center;
    background: #f2f2f2;
    color: #2f2f2f;
    font-size: 30px;
    font-family: Georgia, serif;
    font-weight: bold;
}

.title-wrapper p {
    max-width: 790px;
    text-align: center;
    color: #000;
    margin: 0 auto;
    font-size: 16px;
    line-height: 29px;
}

.main-page-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-top: 20px;
}

.main-page .feature-list{
    flex-wrap: wrap;
}


div.features-list-wrap{
    text-align: center;
}

ul.feature-list{
    display: inline-block;
    text-align: left;
    list-style-image: url("images/green-check.png");
    padding-inline-start: 0;
    font-size: 16px;
    font-family: Georgia, serif;
    font-weight: bold;
}


